<div class="jumbotron jumbo-conference-info">
    <div class="container-fluid text-center spacer-sm">
        <h1>Conference Information</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <h4 class="text-center spacer-sm">WASMUN 2016 is going to be hosted from <strong>March 5th to March 6th</strong> at the <strong>University of Washington</strong>.</h4>

    <h4>Registration Information</h4>
    <p>Priority registration will open on January 1, 2016. The last day to register will be February 20, 2016.</p>

    <div class="spacer-sm"></div>

    <h4>Committees</h4>
    <p>The following committees are going to be simulated at WASMUN 2016:</p>
    <ul>
        <li>International Court of Justice (ICJ)</li>
        <li>Human Rights Council (HRC)</li>
        <li>Economic and Social Council (ECOSOC)</li>
        <li>UN Environmental Program (UNEP)</li>
        <li>UN Office on Drugs and Crime (UNODC)</li>
        <li>General Assembly 4 (GA4)</li>
    </ul>

    <div class="spacer-sm"></div>

    <h4>Conference Schedule</h4>
    <p>The schedule for the conference is still being determined. Please check back or email <a href="mailto:sg@wasmun.org">sg@wasmun.org</a>.</p>
</div>