<div class="jumbotron jumbo-conference-speaker">
    <div class="container-fluid text-center spacer-sm">
        <h1>Speaker Biography</h1>
    </div>
</div>
<div class="col-sm-10 center-block">

    <div class="text-center">
        <h2>Ryan Hauck</h2>
        <h4>Director, Global Classroom</h4>
        <h4>World Affairs Council, Seattle</h4>
        <img class="img-responsive img-thumbnail" src="img/speaker.jpg">
    </div>

    <div class="spacer-sm"></div>

    <p class="spacer-sm home-about">Ryan Hauck is a teacher at Glacier Peak High School in Snohomish and was previously a teacher at
        Marysville-Pilchuck High School for twenty-two years, serving as Department Chair in History/Social Sciences. He
        is often applauded for bringing the world into his classroom and school by engaging students around the
        importance of living in an increasingly interconnected, interdependent world. One of Ryan’s global projects has
        been his work in the Niger Delta region of Nigeria, building not only a sister school relationship between his
        high school and a remote village school in Oporoza, but also a village library. Completing his master’s degree
        in Globalization and Educational Change from Lehigh’s Comparative & International Education Department, Ryan
        worked with a cohort of fellow classmates and teachers on a professional development project in Cambodia. Ryan
        brings his own real-life experiences into the classroom so that his students begin to understand the value of
        cross-cultural understanding and humanitarian action. Over the last 15 years, Ryan has worked closely with the
        World Affairs Council and hosted numerous International Visitor Program delegations at his school. He has
        traveled on one of our trips to South Africa and Swaziland, returning to write curriculum for other teachers to
        use. Ultimately, Ryan wants his students to think critically about world issues, acquire the skills needed to be
        globally competent in the 21st century, and become actively engaged citizens locally, nationally, and
        internationally.
    </p>
</div>