<div class="jumbotron jumbo-conference-info">
    <div class="container-fluid text-center spacer-sm">
        <h1>Conference Information</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <button class="btn btn-success btn-lg col-xs-6 center-block" ui-sref="register">REGISTRATION IS NOW OPEN</button>

    <div class="spacer-sm"></div>

    <h4>Committees and Topics</h4>
    <p>The following committees are going to be simulated at WASMUN 2016:</p>
    <ul>
        <li>
            <strong class="text-success">International Court of Justice (ICJ)</strong>
            <ol>
                <li>Whaling in the Antarctic (Japan V. Australia)</li>
                <li>Alleged Violations of Sovereign Rights and Maritime Spaces in the Caribbean Sea (Nicaragua V.
                    Colombia)
                </li>
                <strong>Background Guide:</strong> <a href="data/guides/ICJ.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/ICJ.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">Human Rights Council (HRC)</strong>
            <ol>
                <li>A Child’s Right to Education in the Midst of Political and Social Unrest</li>
                <li>The Protection of Cultural Rights in the Age of the Global Refugee Crisis</li>
                <strong>Background Guide:</strong> <a href="data/guides/HRC.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/HRC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">Economic and Social Council (ECOSOC)</strong>
            <ol>
                <li>Addressing the Economic and Social Impacts of Climate Change</li>
                <li>Financing for Natural Disaster Areas</li>
                <strong>Background Guide:</strong> <a href="data/guides/ECOSOC.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/ECOSOC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">UN Environmental Programme (UNEP)</strong>
            <ol>
                <li>Sustainable Development in the Arctic</li>
                <li>The Disproportionate Effect of Climate Change and Sea Level Rise on Coastal Regions</li>
                <strong>Background Guide:</strong> <a href="data/guides/UNEP.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/UNEP.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">UN Office on Drugs and Crime (UNODC)</strong>
            <ol>
                <li>Alternative Development</li>
                <li>Maritime Crime and Piracy</li>
                <strong>Background Guide:</strong> <a href="data/guides/UNODC.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/UNODC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">General Assembly 4 (GA4)</strong>
            <ol>
                <li>Improving Peaceful Cooperation Efforts on Matters of Outer Space and Outer Space Research</li>
                <li>Disarmament of Mines in Past and Current Conflict Zones</li>
                <strong>Background Guide:</strong> <a href="data/guides/GA4.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/GA4.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
    </ul>

    <h4 class="spacer-sm">More information about the conference will be posted here later. If you have any immediate questions, please
        contact the Secretary General at <a href="mailto:sg@wasmun.org">sg@wasmun.org</a>.</h4>
</div>