<div class="jumbotron jumbo-conference-info">
    <div class="container-fluid text-center spacer-sm">
        <h1>Conference Information</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <div class="spacer-sm"></div>

    <h4>Location and Schedule</h4>
    <p>WASMUN 2016 is being hosted at the University of Washington on March 5th - 6th. For more information on the
        location of committee rooms and the schedule, please visit the <a
                ui-sref="locationSchedule">Location/Schedule</a> page.</p>

    <div class="spacer-sm"></div>

    <h4>Amendment Forms</h4>
    <p>Amendment forms are used to amend draft resolutions.</p>
    <ul>
        <li>Template: <a href="data/resources/AmendmentForm.docx"><i class="fa fa-file-word-o"></i></a></li>
    </ul>

    <div class="spacer-sm"></div>

    <h4>Working Papers</h4>
    <p>Working papers are informal drafts of potential resolution language. They are collaborative documents that are
        written to represent the ideas of the sponsors in the form of a committee resolution. Working papers should be
        formatted in the sytle of a resolution and in order to be accepted by your dais, must use the template provided
        below.</p>
    <ul>
        <li>Sample Paper: <a href="data/resources/SampleWP.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
        <li>Template: <a href="data/resources/WP_template.docx"><i class="fa fa-file-word-o"></i></a></li>
    </ul>

    <div class="spacer-sm"></div>

    <h4>Short Form and Long Form Rules</h4>
    <p>The following are the rules of procedures for WASMUN 2016. It is reccommended that delegates keep a copy of the
        short-form for use in committee.</p>
    <ul>
        <li>Short Form Rules: <a href="data/resources/WASMUNShortFormRules.pdf"><i class="fa fa-file-pdf-o"></i></a>
        </li>
        <li>Long Form Rules: <a href="data/resources/WASMUNLongFormRules.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
    </ul>

    <div class="spacer-sm"></div>

    <h4>Position Papers</h4>
    <p>Position papers, although optional, are a great way for delegates to prepare for their committee and demonstrate
        knowledge of the topics. All position papers are due on <strong>March 1st, 2016</strong>, at <strong>11:59
            PM</strong> to your committee emails (updated below).</p>
    <ul>
        <li>Position Paper Guidelines: <a href="data/resources/PositionPaperOverview.docx"><i
                class="fa fa-file-word-o"></i></a></li>
    </ul>

    <div class="spacer-sm"></div>

    <h4>Committees and Topics</h4>
    <p>The following committees are going to be simulated at WASMUN 2016:</p>
    <ul>
        <li>
            <strong class="text-success">International Court of Justice (ICJ)</strong>
            <ol>
                <li>Whaling in the Antarctic (Japan V. Australia)</li>
                <li>Alleged Violations of Sovereign Rights and Maritime Spaces in the Caribbean Sea (Nicaragua V.
                    Colombia)
                </li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a
                    href="mailto:icj@wasmun.org">icj@wasmun.org</a><br>
                <strong>ICJ Overview: </strong> <a href="data/resources/ICJOverview.pdf"><i
                    class="fa fa-file-pdf-o"></i></a><br>
                <strong>Background Guide:</strong> <a href="data/guides/ICJ.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/ICJ.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">Human Rights Council (HRC)</strong>
            <ol>
                <li>A Child’s Right to Education in the Midst of Political and Social Unrest</li>
                <li>The Protection of Cultural Rights in the Age of the Global Refugee Crisis</li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a
                    href="mailto:hrc@wasmun.org">hrc@wasmun.org</a><br>
                <strong>Background Guide:</strong> <a href="data/guides/HRC.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/HRC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">Economic and Social Council (ECOSOC)</strong>
            <ol>
                <li>Addressing the Economic and Social Impacts of Climate Change</li>
                <li>Financing for Natural Disaster Areas</li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:ecosoc@wasmun.org">ecosoc@wasmun.org</a><br>
                <strong>Background Guide:</strong> <a href="data/guides/ECOSOC.docx"><i
                    class="fa fa-file-word-o"></i></a>
                <a href="data/guides/ECOSOC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">UN Environmental Programme (UNEP)</strong>
            <ol>
                <li>Sustainable Development in the Arctic</li>
                <li>The Disproportionate Effect of Climate Change and Sea Level Rise on Coastal Regions</li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a
                    href="mailto:unep@wasmun.org">unep@wasmun.org</a><br>
                <strong>Background Guide:</strong> <a href="data/guides/UNEP.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/UNEP.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">UN Office on Drugs and Crime (UNODC)</strong>
            <ol>
                <li>Alternative Development</li>
                <li>Maritime Crime and Piracy</li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:unodc@wasmun.org">unodc@wasmun.org</a><br>
                <strong>Background Guide:</strong> <a href="data/guides/UNODC.docx"><i
                    class="fa fa-file-word-o"></i></a>
                <a href="data/guides/UNODC.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
        <div class="spacer-sm"></div>
        <li>
            <strong class="text-success">General Assembly 4 (GA4)</strong>
            <ol>
                <li>Improving Peaceful Cooperation Efforts on Matters of Outer Space and Outer Space Research</li>
                <li>Disarmament of Mines in Past and Current Conflict Zones</li>
                <strong><i class="fa fa-envelope"></i> Email:</strong> <a
                    href="mailto:ga@wasmun.org">ga@wasmun.org</a><br>
                <strong>Background Guide:</strong> <a href="data/guides/GA4.docx"><i class="fa fa-file-word-o"></i></a>
                <a href="data/guides/GA4.pdf"><i class="fa fa-file-pdf-o"></i></a>
            </ol>
        </li>
    </ul>

    <h4 class="spacer-sm">More information about the conference will be posted here later. If you have any immediate
        questions, please
        contact the Secretary General at <a href="mailto:sg@wasmun.org">sg@wasmun.org</a>.</h4>
</div>