<div class="jumbotron jumbo-resolutions">
    <div class="container-fluid text-center spacer-sm">
        <h1>DRAFT RESOLUTIONS</h1>
    </div>
</div>

<ul>
    <li>
        <strong class="text-success">International Court of Justice (ICJ)</strong>
        <ol>
            <li>TBA</li>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">Human Rights Council (HRC)</strong>
        <ol>
            <ol>
                <li>TBA</li>
            </ol>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">Economic and Social Council (ECOSOC)</strong>
        <ol>
            <ol>
                <li>TBA</li>
            </ol>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">UN Environmental Programme (UNEP)</strong>
        <ol>
            <ol>
                <li>TBA</li>
            </ol>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">UN Office on Drugs and Crime (UNODC)</strong>
        <ol>
            <ol>
                <li>TBA</li>
            </ol>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">General Assembly 4 (GA4)</strong>
        <ol>
            <ol>
                <li>TBA</li>
            </ol>
        </ol>
    </li>
</ul>