<div class="jumbotron jumbo-resolutions">
    <div class="container-fluid text-center spacer-sm">
        <h1>DRAFT RESOLUTIONS</h1>
    </div>
</div>

<ul>
    <li>
        <strong class="text-success">General Assembly 4 (GA4)</strong>
        <ol>
            <li> <a href="data/draft-resolutions/GA-DR1-1.docx">DR1/1/Trump</a></li>
            <li> <a href="data/draft-resolutions/GA-DR1-2.docx">DR1/2/Rubio</a></li>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">UN Office on Drugs and Crime (UNODC)</strong>
        <ol>
            <li> <a href="data/draft-resolutions/UNODC-DR1-1.docx">DR1/1/Mescaline</a></li>
            <li> <a href="data/draft-resolutions/UNODC-DR1-2.docx">DR1/2/Peyote</a></li>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">Economic and Social Council (ECOSOC)</strong>
        <ol>
            <li> <a href="data/draft-resolutions/ECOSOC-DR1-1.docx">DR1/1/Macaroni</a></li>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">Human Rights Council (HRC)</strong>
        <ol>
            <li><a href="data/draft-resolutions/HRC-DR1-1.docx">DR1/1/1/DarthVader</a></li>
            <li><a href="data/draft-resolutions/HRC-DR1-1.docx">DR1/1/2/R2D2</a></li>
        </ol>
    </li>
    <div class="spacer-sm"></div>

    <li>
        <strong class="text-success">UN Environmental Programme (UNEP)</strong>
        <ol>
            <li><a href="data/draft-resolutions/UNEP-DR1-1.docx">DR1/1/Clydesdale</a></li>
        </ol>
    </li>
    <div class="spacer-sm"></div>
    <li>
        <strong class="text-success">International Court of Justice (ICJ)</strong>
        <ol>
            <li>TBA</li>
        </ol>
    </li>
</ul>