<div class="jumbotron jumbo-home">
    <div class="container-fluid text-center spacer-sm">
        <h1>WASHINGTON STATE MODEL UNITED NATIONS</h1>

        <h2>MARCH 5 - MARCH 6, 2016</h2>

        <div class="spacer-sm"></div>

        <button class="btn btn-info btn-lg col-xs-6 center-block" ui-sref="conferenceInfo">CONFERENCE INFORMATION</button>

        <div class="spacer-sm"></div>

        <button class="btn btn-warning btn-lg col-xs-6 center-block" ui-sref="locationSchedule">LOCATION AND SCHEDULE</button>

        <div class="spacer-sm"></div>

        <h2 class="hidden-xs"><timer countdown="countdownTime" interval="1000">{{days}} day{{daysS}}, {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}</timer>
            <br>
        <small>Remaining Until Opening</small>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row text-center">
            <img src="img/logo-v-small.png">
        </div>
        <h4 class="text-center spacer-sm">WASMUN 2016 is going to be hosted from <strong>March 5th to March 6th</strong>
            at the
            <strong>University of Washington</strong>.</h4>

        <div class="spacer-sm text-center">
            <img src="img/keep-debating.png" style="width: 250px"
                 title="The WASMUN Secretariat would like to remind all delegates, advisors, parents, and staff not to panic as we get closer to the conference. Everything will be alright!">
        </div>

        <h3><span class="label label-success">UPDATED 02-25-16</span> Conference Location and Schedule and Rules of Procedure</h3>
        <h4 class="home-about">Information on <a ui-sref="locationSchedule">Conference Location and Schedule</a> has
            been updated. Please note - room assignments are still tentative and may change. The conference Rules of Procedure have been uploaded to the <a
                    ui-sref="conferenceInfo">Conference Information</a> page.</h4>

        <div class="spacer-sm"></div>

        <h3>Updated Country Matrix</h3>
        <h4 class="home-about">The updated <a ui-sref="matrix">Country Matrix</a> has been posted, complete with school
            and committee positions. In addition, visit the <a ui-sref="secretariat">Secretariat</a> page to get to
            learn about your executive secretariat!</h4>

        <div class="spacer-sm"></div>

        <h3>Position Paper Information</h3>
        <h4 class="home-about">Additional position paper information has been posted to the <a
                ui-sref="conferenceInfo">Conference Information</a> page. Registration for WASMUN 2016 is also now
            closed.</h4>

        <div class="spacer-sm"></div>

        <h3>Background Guides</h3>
        <h4 class="home-about">Committee background guides have been posted. You may view them by going to <a
                ui-sref="conferenceInfo">Conference Information</a>.</h4>

        <div class="spacer-sm"></div>

        <h3>Registration Information</h3>
        <h4 class="home-about">Priority registration is open! The last day to register will be February 20, 2016.</h4>

        <div class="spacer-sm"></div>

        <h3>Conference Schedule</h3>
        <h4 class="home-about">The schedule for the conference is still being determined. Please check back or email <a
                href="mailto:sg@wasmun.org">sg@wasmun.org</a>.</h4>
    </div>
    <div class="spacer-sm"></div>
</div>