<div class="jumbotron jumbo-home">
    <div class="container-fluid text-center spacer-sm">
        <h1>WASHINGTON STATE MODEL UNITED NATIONS</h1>

        <h2>MARCH 5 - MARCH 6, 2016</h2>

        <div class="spacer-sm"></div>

        <button class="btn btn-info btn-outline btn-lg col-xs-6 center-block" ui-sref="conferenceInfo">CONFERENCE INFORMATION</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 center-block">
        <div class="row text-center">
            <img src="img/logo-v-small.png">
        </div>
        <h4 class="text-center">WASMUN 2016 is going to be hosted from <strong>March 5th to March 6th</strong> at the <strong>University of Washington</strong>.</h4>

        <div class="spacer-sm"></div>

        <h3>Registration Information</h3>
        <h4 class="home-about">Priority registration is open! The last day to register will be February 20, 2016.</h4>

        <div class="spacer-sm"></div>

        <h3>Conference Schedule</h3>
        <h4 class="home-about">The schedule for the conference is still being determined. Please check back or email <a href="mailto:sg@wasmun.org">sg@wasmun.org</a>.</h4>
    </div>
    <div class="spacer-sm"></div>
</div>