<div class="jumbotron jumbo-location-schedule">
    <div class="container-fluid text-center spacer-sm">
        <h1>Location & Schedule</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <div class="spacer-sm"></div>
    <h4 class="home-about">WASMUN 2016 is being hosted at the University of Washington. All rooms are located in either
        Smith or
        Savery Hall. Please consult the campus map at the bottom of the page for the exact location of the buildings on
        campus.</h4>
    <h4 class="home-about text-success">
        <i class="fa fa-exclamation-triangle"></i> Rooms are now confirmed and finalized.</span>
    </h4>
    <h4 class="home-about text-danger">
        **Indicates committee room that changes during the conference.
    </h4>

    <div class="spacer-sm"></div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-responsive text-center">
                <tr>
                    <th colspan="2">
                        Saturday, March 5th
                    </th>
                </tr>
                <tr>
                    <td>8:30 - 12:30</td>
                    <td>Registration</td>
                </tr>
                <tr class="text-warning">
                    <td><strong>9:00 - 10:30</strong></td>
                    <td><strong><i class="fa fa-sun-o"></i> Opening</strong></td>
                </tr>
                <tr>
                    <td>11:00 - 12:30</td>
                    <td>Session I</td>
                </tr>
                <tr>
                    <td>12:30 - 2:00</td>
                    <td>Lunch</td>
                </tr>
                <tr class="text-success">
                    <td><strong>1:15 - 2:00</strong></td>
                    <td><strong>HD/Faculty Meeting</strong></td>
                </tr>
                <tr>
                    <td>2:00 - 5:00</td>
                    <td>Session II</td>
                </tr>
                <tr>
                    <td>5:30 - 6:30</td>
                    <td>Dinner</td>
                </tr>
                <tr>
                    <td>6:30 - 8:30</td>
                    <td>Session III</td>
                </tr>
                <tr>
                    <td colspan="2">-</td>
                </tr>
                <tr>
                    <th colspan="2">
                        Sunday, March 6th
                    </th>
                </tr>
                <tr>
                    <td>9:00 - 12:00</td>
                    <td>Session IV</td>
                </tr>
                <tr>
                    <td>12:00 - 2:00</td>
                    <td>Lunch</td>
                </tr>
                <tr class="text-success">
                    <td><strong>1:00 - 2:00</strong></td>
                    <td><strong>HD/Faculty Meeting</strong></td>
                </tr>
                <tr>
                    <td>2:00 - 5:00</td>
                    <td>Session V</td>
                </tr>
                <tr class="text-danger">
                    <td><strong>5:30 - 6:30</strong></td>
                    <td><strong><i class="fa fa-moon-o"></i> Closing</strong></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-responsive text-center">
                <tr>
                    <th colspan="2">
                        Saturday, March 5th
                    </th>
                </tr>
                <tr class="text-warning">
                    <td><strong><i class="fa fa-sun-o"></i> Opening Ceremonies</strong></td>
                    <td><strong>GUG 220</strong></td>
                </tr>
                <tr>
                    <td>GA4</td>
                    <td>SMI 211</td>
                </tr>
                <tr>
                    <td>**UNODC</td>
                    <td>GWN 201</td>
                </tr>
                <tr>
                    <td>**ECOSOC</td>
                    <td>SMI 105 (SMI 404 - Session II)</td>
                </tr>
                <tr>
                    <td>UNEP</td>
                    <td>SMI 304</td>
                </tr>
                <tr>
                    <td>HRC</td>
                    <td>SMI 102</td>
                </tr>
                <tr>
                    <td>ICJ</td>
                    <td>SMI 107</td>
                </tr>
                <tr class="text-info">
                    <td><strong><i class="fa fa-suitcase"></i> Conferenece Services</strong></td>
                    <td><strong>SMI 407</strong></td>
                </tr>
                <tr class="text-success">
                    <td><strong><i class="fa fa-graduation-cap"></i> Faculty</strong></td>
                    <td><strong>TBA</strong></td>
                </tr>
                <tr>
                    <th colspan="2">Sunday, March 6th</th>
                </tr>
                <tr class="text-danger">
                    <td><strong><i class="fa fa-moon-o"></i> Closing Ceremonies</strong></td>
                    <td><strong>GUG 220</strong></td>
                </tr>
                <tr>
                    <td>GA4</td>
                    <td>SMI 211</td>
                </tr>
                <tr>
                    <td>**UNODC</td>
                    <td>SMI 205</td>
                </tr>
                <tr>
                    <td>ECOSOC</td>
                    <td>SMI 105</td>
                </tr>
                <tr>
                    <td>UNEP</td>
                    <td>SMI 304</td>
                </tr>
                <tr>
                    <td>HRC</td>
                    <td>SMI 102</td>
                </tr>
                <tr>
                    <td>ICJ</td>
                    <td>SMI 107</td>
                </tr>
                <tr class="text-info">
                    <td><strong><i class="fa fa-suitcase"></i> Conference Services</strong></td>
                    <td><strong>SAV 132</strong></td>
                </tr>
                <tr class="text-success">
                    <td><strong><i class="fa fa-graduation-cap"></i> Faculty</strong></td>
                    <td><strong>SAV 162</strong></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="spacer-sm"></div>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="http://uw.edu/maps/?lndmk-1"></iframe>
    </div>

</div>