<div class="jumbotron jumbo-secretariat">
    <div class="container-fluid text-center spacer-sm">
        <h1>SECRETARIAT</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <ul class="media-list">
        <li class="media">
            <div class="media-left">
                    <img class="media-object secretariat-profile" src="img/secretariat/krishna.JPG">
            </div>
            <div class="media-body">
                <h2 class="media-heading">Krishna Medidi</h2>
                <h4 class="media-heading"><a href="mailto:sg@wasmun.org"><i class="fa fa-envelope"></i></a> Secretary General</h4>
                Krishna is a junior at the University of Washington, pursuing a degree in both Political Science as well as Economics. He has been a part of the UW-MUN team for about a year and half, attending 5 conferences so far, and has staffed for WASMUN in the past. Along with studying and participating in Model UN, Krishna loves traveling abroad, learning to cook, and fanboying over all things nerdy. Krishna is also thinks he’s funny, but really isn’t.
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-body">
                <h2 class="media-heading text-right">Jason Flick</h2>
                <h4 class="media-heading text-right">Director General <a href="mailto:dg@wasmun.org"><i class="fa fa-envelope"></i></a></h4>
                Jason is currently a senior at the University of Washington and will be majoring in International Studies. He started participating in Model United Nations when he joined UW-MUN during his freshman year in college. Since joining the club, he has participated in 14 conferences. This is Jason’s fourth time participating in WASMUN and the second time he has served as the Director General of the conference. Over the years, Jason has seen WASMUN evolve into the conference it is today and hopes to contribute to it being a positive experience for each of the delegates, advisors, and guests of WASMUN.
            </div>
            <div class="media-right">
                <img class="media-object secretariat-profile" src="img/secretariat/jason.JPG">
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-left">
                <img class="media-object secretariat-profile" src="img/secretariat/tiffany.JPG">
            </div>
            <div class="media-body">
                <h2 class="media-heading">Tiffany Dao</h2>
                <h4 class="media-heading"><a href="mailto:adg@wasmun.org"><i class="fa fa-envelope"></i></a> Assistant Director General</h4>
                Tiffany is currently a junior intending to major in Law, Societies, and Justice with a minor in Human Rights at the University of Washington. She is absolutely delighted to have the opportunity to serve as your Assistant Director General for the upcoming WASMUN conference. Although Tiffany did not have the opportunity to participate in Model UN during her high school years, she has found MUN in college to be a truly wonderful and life-changing experience. During her first two years of college, she has attended a total of four conferences: two in New York and one in Rome as a delegate, and one in Portland as a head delegate. Fun fact: she also loves to sing and has been doing it for about a decade now.
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-body">
                <h2 class="media-heading text-right">Lisa Buckner</h2>
                <h4 class="media-heading text-right">Under-Secretary General of Public Relations <a href="mailto:pr@wasmun.org"><i class="fa fa-envelope"></i></a></h4>
                Lisa is a recent graduate from the University of Washington with a double B.A. in International Studies and Law, Societies & Justice, and was a member of UW-MUN for three years. She has been on WASMUN staff for the last three years as well, serving as Assistant Director for the Security Council in 2013, Assistant Director for the UNODC in 2014, and Director of the UNODC in 2015. She currently serves as Education Chair for the United Nations Association – Greater Seattle Chapter, and is a Research Assistant for the People for Change Foundation. She is excited for her position on Secretariat and to transform WASMUN 2016 into the best possible (and most fun) learning opportunity for delegates!
            </div>
            <div class="media-right">
                <img class="media-object secretariat-profile" src="img/secretariat/lisa.JPG">
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-left">
                <img class="media-object secretariat-profile" src="img/secretariat/milica.JPG">
            </div>
            <div class="media-body">
                <h2 class="media-heading">Milica Milovanovic</h2>
                <h4 class="media-heading"><a href="mailto:usgl@wasmun.org"><i class="fa fa-envelope"></i></a> Under-Secretary General of Logistics</h4>
                Milica is a sophomore intending to major in psychology and minor in education, learning, and society. She attended WASMUN and VIKMUN when she was in high school, and has at UW attended eight conferences, including National MUN in New York and North West MUN in both Seattle and Portland. She was the chair of HRC at last year’s WASMUN, and is currently the Director of Operations at UW-MUN. Outside of MUN, Milica loves to watch TV shows (and is ready at any moment to discuss GoT), read when she can, and has a variety of very soft stuffed animals on her bed. Milica speaks English and Serbian (and should be able to speak Spanish a lot better considering the many years she had taken it).
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-body">
                <h2 class="media-heading text-right">Cindy Hannon</h2>
                <h4 class="media-heading text-right">Under-Secretary General of Finance <a href="mailto:usgf@wasmun.org"><i class="fa fa-envelope"></i></a></h4>
                Cindy Hannon is a junior at the University of Washington, pursuing a degree in International Studies, Political Economy track, and a minor in Global Health. Unfortunately, there was no MUN at Cindy’s high school in Tacoma, but she has enjoyed being involved with MUN after joining UW-MUN last year. She is currently the Public Relations Officer for UW-MUN, and WASMUN will be the third conference she has staffed for. In her free time she enjoys reading and learning how to cook edible food.
            </div>
            <div class="media-right">
                <img class="media-object secretariat-profile" src="img/secretariat/cindy.JPG">
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <div class="media-left">
                <img class="media-object secretariat-profile" src="img/secretariat/stephen.JPG">
            </div>
            <div class="media-body">
                <h2 class="media-heading">Stephen Rimbakusumo</h2>
                <h4 class="media-heading"><a href="mailto:usgit@wasmun.org"><i class="fa fa-envelope"></i></a> Under-Secretary General of Information Technology</h4>
                Stephen is a Senior at the UW, currently majoring in History. He has attended UW's S|CON 2014, NWMUN Seattle 2014, UBCMUN 2015, NWMUN Portland 2015, and NMUN 2015, in addition to having been on the 2015 WASMUN Secretariat as the USG of Information Technology. Additionally, Stephen is also the Network and Technology Manager for NWMUN 2015 and the Assistant Director to the Security Council for UBCMUN 2016. Stephen has a keen interest in foreign policy, particularly concerning former Soviet bloc countries and the Middle East. He hopes to be able to travel to these countries in order to better understand their language, culture, and history. Stephen also loves languages and can speak both Russian and Spanish.
            </div>
        </li>
    </ul>
</div>