<div class="jumbotron jumbo-staff">
    <div class="container-fluid text-center spacer-sm">
        <h1>COMMITTEE STAFF</h1>
    </div>
</div>
<div class="col-sm-10 center-block">
    <div class="spacer-sm"></div>
    <div class="row text-center">
        <button ui-sref="apply" class="btn btn-lg btn-success" style="font-size: 2em;"><i class="fa fa-pencil-square-o"></i> APPLY FOR STAFF</button>
    </div>
    <div class="spacer-sm"></div>
    <ul class="media-list">
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">General Assembly 4 (GA4)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Mark Orines</h3>
                <h4 class="media-heading">Assistant Director: Jacob Davis</h4>
                <h4 class="media-heading">Chair: Mardav Jain</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">Human Rights Council (HRC)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Jude Alhashem</h3>
                <h4 class="media-heading">Assistant Director: Jannah McGrath</h4>
                <h4 class="media-heading">Chair: Angelica Graham</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">UN Economic and Social Council (ECOSOC)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Doug Siegel</h3>
                <h4 class="media-heading">Assistant Director: Claire Marvet</h4>
                <h4 class="media-heading">Chair: Hanna Dudsic</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">UN Office on Drugs and Crime (UNODC)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Alex Wirth</h3>
                <h4 class="media-heading">Assistant Director: Freeman Halle</h4>
                <h4 class="media-heading">Chair: Cassie Lynch</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">UN Environment Program (UNEP)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Sarah Brenden</h3>
                <h4 class="media-heading">Assistant Director: Tyler Lincoln</h4>
                <h4 class="media-heading">Chair: Isabel Nelson</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
        <li class="media">
            <!--<div class="media-left">
                <a href="#">
                    <img class="media-object" src="..." alt="...">
                </a>
            </div>-->
            <div class="media-body">
                <h2 class="media-heading">International Court of Justice (ICJ)</h2>
                <h3 class="media-heading"><i class="fa fa-gavel"></i> Director: Pat Mehigan</h3>
                <h4 class="media-heading">Assistant Director: James Maltman</h4>
            </div>
        </li>
        <div class="spacer-sm"></div>
    </ul>
</div>