<div class="jumbotron jumbo-about">
    <div class="container-fluid text-center spacer-sm">
        <h1>ABOUT WASMUN</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-10 center-block text-center">
        <img src="img/logo-v-small.png">
        <h4 class="spacer-sm home-about">
            Washington State Model United Nations (WASMUN) is Washington State's largest high school Model United Nations conference. Held annually in the Seattle area, high school students participate in a two-day simulation of international organizations such as the United Nations. WASMUN is an officially registered nonprofit with the State of Washington, and is entirely run by a volunteer staff of college students and alumni in the greater Seattle area.
        </h4>

        <h2>OUR MISSION</h2>
        
        <h4 class="spacer-sm home-about">
            Washington State Model United Nations (WASMUN) aspires to develop students into informed global citizens by facilitating an interactive and academic simulation where students debate, discuss, and analyze complex international issues.
        </h4>



    </div>
</div>